@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Clique no ícone acima para ir à página de Login</h1>
</div>

<div class="text-center">
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
